@import "tailwindcss";

:root {
  --color-primary: #4cd263;
  --color-primary-dark: #379e4a;
  --color-primary-light: #e8f9ee;

  --color-text-dark: #1f2937;
  --color-text-light: #ffffff;
  --color-muted: #6b7280;

  --gradient-hero: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
  --gradient-accent: linear-gradient(to right, #4cd263, #a3e635, #34d399);
}



* {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}